$dark-mode: #121212;
$light-mode: #EEE;

body{
    font-family: 'Play', sans-serif;
    background-color: $dark-mode;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Header */

header{
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    color: #fff;
    text-align: center;
    margin: 0;
    font-size: 25px;
}

/* Body */
header, main{
    width: 95%;
    margin: 0 auto;
}

main{
   flex-grow: 1;
}

/* Animation Zone */
.animation-zone{
    height: 61vh;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    overflow: scroll;
    gap: 10px;

    div{
        color: #fff;
        background-color:  orangered;
        font-size: 12px;
        margin: 0 5px;
        height: 30px;
        width: 30px;
    }
}

/* zone buttons*/

.buttons{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 20px;
    
    button{
        font-size: 1.5rem;
        padding: .5em .8em;
        border: none;
        background-color: orangered;
        color: #fff;
        width: 80%;
        border-radius: .8em;
    }
}